* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}

.container {}

.header {
    display: flex;
    justify-content: space-between;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */

@media screen and (max-width: 800px) {
    .column {
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 1500px) {
    .column {
        width: 50%;
        display: block;
    }
}

/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #f1f1f1;
}

.hiddenCard {
    display: none;
}

.info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.label {
    margin-right: 20px;
    font-weight: bold;
    text-align: left;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.addNew {
    padding: 30px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.formStyle {
    display: flex
}

.main {
    padding: 30px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}

.formControl {
    width: 50%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}